// couleur

// blanc
$blanc: #FFFFFF;
$blanc-de-fond: #EFF2F4;

// gris
$gris: #757575;
$gris-tag: #DBDBDB;
$gris-clair: #F6F6F6;
$gris-form:  #666666;
$gris-difficulte: #74828F;
$gris-texte-modal: #54595E;
$gris-bouton-modal: #4F4F4F;
$gris-fond-modal: #D9D9D9B2;
$gris-clair-bouton-modal: #F0F0F0;
$gris-mot-de-passe-oublie:  #666666;

// bleu
$bleu-svg: #03053D;
$bleu-titre: #1B3168;
$bleu-boutons: #455884;
$bleu-boutons-actif: #1B3168;

// vert
$vert: #52B788;