{% block template_backofiffice %}
    <div class="container">
        <h2>{{title}}</h2>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Rôle</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nom</td>
                    <td>Prenom</td>
                    <td>Role</td>
                    <td>Email</td>
                    <td>Action</td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li>Mention légales</li>
            <li>Contact</li>
            <li>Lycée Saint-Vincent</li>
        </ul>
    </div>
{% endblock %}