{% block aside %}
    <aside>
        <div class="container-option">
            <div class="container-saint-vincent">
                <img src="#" alt="#">
                <ul>
                    <li>Math  Index</li>
                    <li>Lycée Saint&nbsp;-&nbsp;Senlis</li>
                </ul>
            </div>
            <div>
                <li>Accueil</li>
                <li>Recherche</li>
                <li>Mathématique</li>
                <li></li>
                <li></li>
            </div>
        </div>
        <li><a href="#">Déconnexion</a></li>
    </aside>
{% endblock %}