{% block modal %}
    <div class="background-modal">
        <div id="modal">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <ul>
                    <li>Confirmer la suppression</li>
                    <li>Êtes-vous certain de vouloir supprimer ce contributeur?</li>
                </ul>
            </div>
            <div>
                <button>Annuler</button>
                <button>Confirmer</button>
            </div>
        </div>
    <div>
{% endblock %}